<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <title>Earthquake</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Leaflet Map -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="../static/js/choropleth.js"></script>

    <!-- Mercator Map -->
    <!-- <script src="https://feyderm.github.io/d3/d3.js"></script>
    <script src="https://feyderm.github.io/js/viridis_colors.js"></script> -->
    <script src="../static/js/dropdown_options.js"></script>

</head>

<body>
    <div>
        <select id="dropdown">
        </select>
    </div>

    <div id="block"></div>

    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>

    <!-- JS -->
    <!-- Leaflet Map -->
    <script type="text/javascript" src="../static/js/test.js"></script>
    <!-- Mercator Map -->
    <!-- <script type="text/javascript" src="../static/js/test2.js"></script> -->

</body>

</html>