html,
body {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 40px;
  margin-right: 40px;
  background: #ffcc85;
}

html,
body,
h1 {
  background: #ffcc85;
}

#border {
  margin: 0;
}

.row {
  background-color: #fff7ec;
  margin-top: -10px;
}

#logo {
  height: 40px;
  width: 40px;
}

h1,
h5 {
  padding-top: 20px;
  text-align: center;
  /* font-family: 'Dancing Script', cursive; */
}

#header {
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  background: #ffcc85;
}

h5 {
  font-family: 'Bad Script', cursive;
}

#block {
  height: 500px;
  width: 500px;
}

#radar_plot {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
}

#radar_plot {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
}

#chart_area {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
}
